/*reset*/
body,
p,
h1 {
  margin: 0;
  padding: 0;
}
.1_3 {
  overflow: hidden;
}
.e1_3 {
  background-color: rgba(
    222.06250101327896,
    222.06250101327896,
    222.06250101327896,
    1
  );
  width: 390px;
  height: 844px;
  position: absolute;
}
.e9_528 {
  width: 315px;
  height: 387px;
  position: absolute;
  left: 38px;
  top: 264px;
}
.e9_513 {
  width: 315px;
  height: 324px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e9_503 {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(
    217.0000022649765,
    217.0000022649765,
    217.0000022649765,
    1
  );
  width: 315px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 117px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.9_503 {
  border: 1px solid rgba(0, 0, 0, 1);
}
.e9_504 {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 1);
  width: 114.4230728149414px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 82px;
  font-family: Courier New;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.e9_505 {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(
    217.0000022649765,
    217.0000022649765,
    217.0000022649765,
    1
  );
  width: 315px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.9_505 {
  border: 1px solid rgba(0, 0, 0, 1);
}
.e9_506 {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 1);
  width: 162.88461303710938px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Courier New;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.e9_509 {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(
    217.0000022649765,
    217.0000022649765,
    217.0000022649765,
    1
  );
  width: 315px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 284px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.9_509 {
  border: 1px solid rgba(0, 0, 0, 1);
}
.e9_510 {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 1);
  width: 292.1153869628906px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 254px;
  font-family: Courier New;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.e9_511 {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(
    217.0000022649765,
    217.0000022649765,
    217.0000022649765,
    1
  );
  width: 315px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 201px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.9_511 {
  border: 1px solid rgba(0, 0, 0, 1);
}
.e9_512 {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 1);
  width: 130.57691955566406px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 170px;
  font-family: Courier New;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.e9_542 {
  color: rgba(0, 0, 0, 1);
  width: 278px;
  height: 29px;
  position: absolute;
  left: 49px;
  top: 176px;
  font-family: Montserrat;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
.e17_13 {
  width: 390px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e8_2 {
  background-color: rgba(
    213.00000250339508,
    113.00000086426735,
    73.00000324845314,
    1
  );
  width: 390px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e9_535 {
  border-radius: 500px;
  background-color: rgba(
    217.0000022649765,
    217.0000022649765,
    217.0000022649765,
    1
  );
  width: 93px;
  height: 92px;
  position: absolute;
  left: 6px;
  top: 4px;
}
.9_535 {
  border: 3px solid rgba(0, 0, 0, 1);
}
.e9_523 {
  width: 80px;
  height: 70px;
  position: absolute;
  left: 12px;
  top: 11px;
}
.ei9_523_12_330 {
  width: 80px;
  height: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei9_523_12_8 {
  background-color: rgba(
    213.00000250339508,
    113.00000086426735,
    73.00000324845314,
    1
  );
  width: 61.79775619506836px;
  height: 61.2779541015625px;
  position: absolute;
  left: 9.213482856750488px;
  top: 8.722044944763184px;
}
.i9_523_12_8 {
  border: 3px solid rgba(0, 0, 0, 1);
}
.ei9_523_12_9 {
  color: rgba(0, 0, 0, 1);
  width: 80px;
  height: 27.06070327758789px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Montserrat;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
}
.e17_5 {
  width: 67.6500015258789px;
  height: 66px;
  position: absolute;
  left: 296px;
  top: 17px;
}
.e17_6 {
  background-color: rgba(
    250.75000405311584,
    250.75000405311584,
    250.75000405311584,
    0.5
  );
  width: 67.6500015258789px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.17_6 {
  border: 1px solid rgba(0, 0, 0, 1);
}
.17_7 {
  border: 1px solid rgba(0, 0, 0, 1);
}
.e17_7 {
  width: 64.3499984741211px;
  height: 64.3499984741211px;
  position: absolute;
  left: 0px;
  top: 1.649999976158142px;
}
.e17_8 {
  background-color: rgba(0, 0, 0, 1);
  width: 53.625px;
  height: 42.90000534057617px;
  position: absolute;
  left: 5.362499713897705px;
  top: 10.724998474121094px;
}
.e17_11 {
  width: 234px;
  height: 56px;
  position: absolute;
  left: 67px;
  top: 710px;
}
.e17_9 {
  width: 234px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e9_502 {
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
  background-color: rgba(
    219.0000021457672,
    168.0000051856041,
    26.000000350177288,
    1
  );
  width: 234px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.e9_549 {
  color: rgba(0, 0, 0, 1);
  width: 135px;
  height: 18px;
  position: absolute;
  left: 82px;
  top: 19px;
  font-family: Courier New;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}
.e9_552 {
  width: 20.733184814453125px;
  height: 23.695068359375px;
  position: absolute;
  left: 22px;
  top: 13px;
}
.e9_551 {
  background-color: rgba(0, 0, 0, 1);
  width: 20.733184814453125px;
  height: 23.695068359375px;
  position: absolute;
  left: 0px;
  top: 0px;
}
