:root { 
  --alto: #d9d9d9;
  --alto-2: #dedede;
  --black: #000000;
  --white: #ffffff;
 
  --font-size-xl2: 20px;
  --font-size-xxxl: 32px;
 
  --font-family-courier_new-bold: "Courier New-Bold", Helvetica;
}
.couriernew-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-courier_new-bold);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 700;
}
