:root { 
  --alto: #d9d9d9;
  --alto-2: #dedede;
  --black: #000000;
  --white: #ffffff;
 
  --font-size-l2: 16px;
  --font-size-xl2: 20px;
  --font-size-xxl2: 24px;
 
  --font-family-courier_new-bold: "Courier New-Bold", Helvetica;
  --font-family-montserrat: "Montserrat", Helvetica;
}
.couriernew-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-courier_new-bold);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 700;
}

.montserrat-semi-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 600;
}

.couriernew-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-courier_new-bold);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 700;
}
