/* styling for entire page */
/* resets */
html,
body,
p,
div,
section,
body,
main,
footer,
i {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(164, 164, 164, 1) 100%
  );
  font-family: "Montserrat", sans-serif;
}
.cashOption,
.creditCardOption,
.billingInformation,
#checkout,
#orderConfirmation {
  display: none;
}

section {
  margin: 20px 0;
}
/* styling for entire page */

/* style for products on home page */
#productCatalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product {
  margin: 0px 6px 20px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productImage {
  width: 160px;
}

.brandAndModel {
  display: flex;
  flex-direction: column;
}

.productModel {
  font-size: 15px;
}

.productBrand {
  font-size: 10px;
}

.nameAndPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0 0;
  width: 170px;
  font-weight: bold;
}

.productPrice {
  font-size: 16px;
}

.description {
  width: 174px;
  font-family: "Courier New", Courier, monospace;
  color: #6f6f6f;
  font-size: 14px;
}

.addToCart {
  margin: 2px 0 0 0;
  padding: 10px 30px;
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
  background-color: #ff4850;
}
/* style for products on home page */
#checkout {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    36deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(164, 164, 164, 1) 100%
  );
  width: 100vw;
  height: 106vh;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/* style for checkout */
#cartBackArrow {
  width: 100px;
}
.productCheckout {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  height: 125px;
}

.productImageCheckout {
  width: 100px;
  margin: 0 5px 0 12px;
}

.brandAndModelCheckout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 165px;
}

.productModelCheckout {
  font-size: 12px;
}

.name-description-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  font-weight: bold;
}

.productDescriptionCheckout {
  font-size: 12px;
  margin: 0 55px 0 0;
}

.totalCost {
  margin: 25px 0 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
}

/* style for checkout */

.tenderedContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}
