/* styling for entire page */
/* resets */
html,
body,
p,
div,
section,
body,
main,
footer,
i {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #c6c7c5;
  font-family: "Montserrat", sans-serif;
}

.cashOption,
.creditOption,
.shippingAndBillingInfo,
#checkout,
#orderConfirmation {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section {
  margin: 20px 0;
}
/* styling for entire page */

/* style for products on home page */
header {
  display: flex;
  margin: 10px;
  height: 85px;
}

.shopping-cart {
  position: relative;
  left: 20px;
  top: 25px;
}

.tally-background {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #ff4850;
  position: relative;
  bottom: 65px;
  left: 35px;
}

.cartTally {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20;
  user-select: none;
}

#productCatalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product {
  margin: 0px 6px 20px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productImage {
  width: 160px;
}

.brandAndModel {
  display: flex;
  flex-direction: column;
}

.productModel {
  font-size: 15px;
}

.productBrand {
  font-size: 10px;
}

.nameAndPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0 0;
  width: 170px;
  font-weight: bold;
}

.productPrice {
  font-size: 16px;
}

.description {
  width: 174px;
  font-family: "Courier New", Courier, monospace;
  color: #6f6f6f;
  font-size: 14px;
}

.addToCart {
  margin: 2px 0 0 0;
  padding: 10px 30px;
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
  background-color: #ff4850;
}

.addToCart:hover {
  transform: scale(0.95);
  border: 1px solid black;
}

/* style for products on home page */
#checkout {
  background-color: #c6c7c5;
  width: 100vw;
  height: 105vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* style for checkout */
#cartBackArrow {
  width: 90px;
}

.productCheckout {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  height: 125px;
}

.productImageCheckout {
  width: 100px;
  margin: 0 5px 0 12px;
}

.brandAndModelCheckout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
}

.productModelCheckout {
  font-size: 12px;
}

.name-description-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  font-weight: bold;
}

.productDescriptionCheckout {
  font-size: 12px;
  margin: 0 55px 0 0;
}

.totalCost {
  margin: 25px 0 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
}

/* style for checkout */

/* style for cash option */
#shippingBackArrow {
  width: 90px;
}

#cashBackArrow {
  width: 90px;
}

#creditBackArrow {
  width: 90px;
}

.tenderedContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  width: 480px;
}

.redBorder {
  border: 1px solid red;
}

/* style for confirmation page */

.amountReturned {
  font-weight: bold;
  font-size: 20px;
  border: 2px dashed black;
  padding: 25px;
  width: 400px;
  margin: 10px;
}

.confirmationBorder {
  border: 3px black;
  border-style: solid none;
}

.confirmationBorder p {
  font-size: 20px;
  margin: 5px;
}

.boldInConfirmation {
  font-weight: bold;
}

.shippingHeader {
  font-weight: bold;
  margin: 5px;
  font-size: 18px;
}

input {
  margin: 5px;
}

.continue {
  margin: 5px;
  padding: 10px;
}

.submit {
  padding: 10px;
}

.reset {
  display: flex;
  justify-content: center;
}
.resetButton {
  padding: 10px;
  width: 350px;
  font-size: 20px;
  font-weight: bold;
  margin: 15px;
}
